/build
*~
.DS_Store
/*.xcodeproj/*.mode1v3
/*.xcodeproj/*.pbxuser
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Backup/Penumbra.sln
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Penumbra/v17/DocumentLayout.json
.vs/Penumbra/v17/Browse.VC.opendb
.vs/Penumbra/v17/Browse.VC.db-wal
.vs/Penumbra/v17/Browse.VC.db-shm
.vs/Penumbra/v17/Browse.VC.db
.vs/Penumbra/v17/.wsuo
.vs/Penumbra/FileContentIndex/d2975f6c-bff3-455a-b5eb-b36a68f4f29b.vsidx
.vs/Penumbra/FileContentIndex/86dde69d-35bf-447d-ab6d-14e07b905118.vsidx
.vs/CMake Overview
UpgradeLog.htm
Penumbra.vcxproj.user
Penumbra.vcxproj.filters
